# Директория для зависимостей
vendor/

# Бинарные файлы
*.exe
*.exe~
*.dll
*.so
*.dylib

# Тестовые бинарные файлы
*.test

# Временные файлы
*.out

# Кэш модуля
/go/pkg/mod/

# Директория для сборки
/build/

# Конфигурационные файлы
.env
